.card {
    max-width: 100%;
}
.media {
    height: 240
}
.cardActions {
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}
.author {
    display: flex;
}
.paginationContainer {
    display: flex;
    justify-content: center;
}